/*Style Police*/
@font-face {
  font-family: 'cafeandbrewery';
  src: url("police/cafeandbrewery.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GrandHotel';
  src: url("police/GrandHotel.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Typo_Round_Regular';
  src: url("police/Typo_Round_Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript-Regular';
  src: url("police/DancingScript-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/*Variables*/
/*Mixin*/
/*animations*/
@-webkit-keyframes vibration {
  0% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  3% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  4% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes vibration {
  0% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  3% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  4% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

/*Reset*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*Page Accueil*/
header {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #579c87;
}

header h1 {
  font-family: "Arial Black", sans-serif;
  letter-spacing: -2px;
  color: #feca07;
  font-weight: bold;
  font-size: 2.5em;
}

.general__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 80px 0;
}

.menu-enchante, .menu-chic, .menu-delice, .menu-palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  text-align: center;
  width: 500px;
  margin: 5%;
  -webkit-box-shadow: 0 0 10px 0px #656565;
          box-shadow: 0 0 10px 0px #656565;
  border-radius: 10px;
}

@media screen and (max-width: 450px) {
  .menu-enchante, .menu-chic, .menu-delice, .menu-palette {
    height: 400px;
  }
}

.menu-enchante {
  background-color: #F3E5F5;
  font-family: "GrandHotel", sans-serif;
  font-size: 1.7em;
}

.menu-enchante p {
  font-size: 2.5em;
  margin: 0;
}

.menu-enchante i {
  font-size: 2.5em;
  background: linear-gradient(3deg, #ca283b 20%, #f78f6a 75%);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
}

.menu-chic {
  background-color: #fde6e8;
  font-family: "cafeandbrewery", sans-serif;
  font-size: 1.7em;
}

.menu-chic h2, .menu-chic p {
  background: linear-gradient(55deg, #d8852e 40%, #905bfd 55%);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
}

.menu-chic p {
  font-size: 2em;
  margin: 0;
}

.menu-delice {
  background-color: #E1F5FE;
  font-family: "DancingScript-Regular", sans-serif;
  font-size: 1.5em;
}

.menu-delice h2, .menu-delice p {
  background-image: linear-gradient(45deg, #0288D1 25%, #81D4FA 65%);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
}

.menu-delice p {
  font-size: 2em;
  margin: 0;
}

.menu-palette {
  background-color: #F1F8E9;
  font-family: "Typo_Round_Regular", sans-serif;
  font-size: 1.8em;
}

.menu-palette h2, .menu-palette p {
  background-image: linear-gradient(45deg, #43A047 25%, #81C784 65%);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
}

.menu-palette p {
  font-size: 2em;
  margin: 0;
}

.menu_zoom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  text-align: center;
  text-decoration: none;
  color: black;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.menu_zoom:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.5;
}

#next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
}

#next p {
  font-size: 1.3em;
  color: #feca07;
  font-family: "Arial Black", sans-serif;
  background-color: #579c87;
  width: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50px 50px 50px 50px;
}

.one {
  display: inline-block;
  -webkit-animation: bounce 900ms ease-in-out infinite alternate;
          animation: bounce 900ms ease-in-out infinite alternate;
}

.two {
  display: inline-block;
  -webkit-animation: bounce 900ms ease-in-out infinite alternate;
          animation: bounce 900ms ease-in-out infinite alternate;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.three {
  display: inline-block;
  -webkit-animation: bounce 900ms ease-in-out infinite alternate;
          animation: bounce 900ms ease-in-out infinite alternate;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #579c87;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Arial Black", sans-serif;
  font-weight: lighter;
  color: #feca07;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 1.1em;
}

.mention {
  -webkit-animation: vibration 1s infinite;
          animation: vibration 1s infinite;
}

.mention a {
  text-decoration: none;
  color: #feca07;
}

/*Page Menu 1*/
header a {
  text-decoration: none;
  color: #feca07;
}

.menu1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 80px 0;
  font-size: 1.8em;
  font-family: "GrandHotel", sans-serif;
}

.head-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
}

.head-title h3 {
  background: linear-gradient(to top, black 0%, black 1px, transparent 3px) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size 300ms;
  transition: background-size 300ms;
}

.head-title h3:hover {
  background-size: 100% 100%;
}

.menu__title {
  font-family: "Arial Black", sans-serif;
  font-size: 0.6em;
  font-weight: normal;
}

.menu1__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  background-color: #F3E5F5;
  -webkit-box-shadow: 0 0 10px 0px #656565;
          box-shadow: 0 0 10px 0px #656565;
  border-radius: 10px;
}

@media screen and (max-width: 450px) {
  .menu1__head {
    font-size: large;
  }
}

.menu1__head__title {
  text-align: center;
  margin-top: 50px;
}

.menu1__head__title i {
  font-size: 3em;
  background: linear-gradient(3deg, #ca283b 20%, #f78f6a 75%);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
}

.menu1__head__title h2 {
  font-size: 1.2em;
}

.head-title img {
  width: 20%;
}

.head-title img h3 {
  width: auto;
  text-align: center;
}

article li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

@media screen and (max-width: 450px) {
  article li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

article li h4 {
  font-weight: normal;
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 450px) {
  article li h4 {
    width: 100%;
  }
}

article li p {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 450px) {
  article li p {
    width: 100%;
  }
}

ul {
  padding-left: 10%;
  padding-right: 10%;
}

.menu1__resume3 li h4 {
  width: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
}

.footer i {
  padding-right: 10px;
  background: linear-gradient(3deg, #ca283b 20%, #f78f6a 75%);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
}

/*Page Menu2*/
.menu2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 80px 0;
  font-size: 1.8em;
  font-family: "cafeandbrewery", sans-serif;
}

.menu2__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  background-color: #fde6e8;
  -webkit-box-shadow: 0 0 10px 0px #656565;
          box-shadow: 0 0 10px 0px #656565;
  border-radius: 10px;
  padding-bottom: 100px;
}

@media screen and (max-width: 450px) {
  .menu2__head {
    font-size: large;
  }
}

.menu2__head__title {
  text-align: center;
  margin-top: 50px;
}

.menu2__head__title h2 {
  font-size: 1.5em;
  background: linear-gradient(55deg, #d8852e 40%, #905bfd 55%);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
}

.menu2__resume1 {
  color: #c67412;
}

.menu2__resume1 h3 {
  background: linear-gradient(to top, #c67412 0%, #c67412 1px, transparent 3px) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size 300ms;
  transition: background-size 300ms;
}

.menu2__resume1 h3:hover {
  background-size: 100% 100%;
}

.menu2__resume2 {
  color: #A56799;
}

.menu2__resume2 h3 {
  background: linear-gradient(to top, #A56799 0%, #A56799 1px, transparent 3px) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size 300ms;
  transition: background-size 300ms;
}

.menu2__resume2 h3:hover {
  background-size: 100% 100%;
}

.menu2__resume3 {
  color: #6E4CCC;
}

.menu2__resume3 h3 {
  background: linear-gradient(to top, #6E4CCC 0%, #6E4CCC 1px, transparent 3px) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size 300ms;
  transition: background-size 300ms;
}

.menu2__resume3 h3:hover {
  background-size: 100% 100%;
}

.menu2__resume3 li h4 {
  width: 100%;
}

/*Page menu3*/
.menu3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 80px 0;
  font-size: 1.8em;
  font-family: "DancingScript-Regular", sans-serif;
}

.menu3__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  background-color: #E1F5FE;
  -webkit-box-shadow: 0 0 10px 0px #656565;
          box-shadow: 0 0 10px 0px #656565;
  border-radius: 10px;
  padding-bottom: 100px;
}

@media screen and (max-width: 450px) {
  .menu3__head {
    font-size: large;
  }
}

.menu3__head__title h2 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 50px;
  background-image: linear-gradient(45deg, #0288D1 25%, #81D4FA 65%);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
}

/*page menu4*/
.menu4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 80px 0;
  font-size: 1.8em;
  font-family: "Typo_Round_Regular", sans-serif;
}

.menu4__title {
  font-family: "Arial Black", sans-serif;
  font-size: 0.8em;
}

.menu4__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  background-color: #F1F8E9;
  -webkit-box-shadow: 0 0 10px 0px #656565;
          box-shadow: 0 0 10px 0px #656565;
  border-radius: 10px;
  padding-bottom: 50px;
}

@media screen and (max-width: 450px) {
  .menu4__head {
    font-size: large;
  }
}

.menu4__head__title h2 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 50px;
  background-image: linear-gradient(45deg, #43A047 25%, #81C784 65%);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
}

/*Mentions Legales*/
.general_mentions {
  padding: 0 0 80px 0;
  font-family: Arial, sans-serif;
  font-weight: normal;
}

.general_mentions section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
/*# sourceMappingURL=style_p3.css.map */